# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
!1_Infrastructure_IaC/Terraform/.terraform.lock.hcl

# Ansible
*.retry
*.log

# OS/IDE
.DS_Store
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.coverage
htmlcov/

1_Infrastructure_IaC/Kubernetes/apps/soc-demo-service/secrets/

# Streamlit Secrets
.streamlit/secrets.toml

GUI/secrets.toml
.streamlit/secrets.toml

GUI/secrets.toml
.streamlit/secrets.toml
